<%= render :partial => "trips/trip_header" %>

<% @trip.next_24_hours.each do |time| %>
  <tr class="<%= "warning" if Time.now.beginning_of_hour.in_time_zone(@trip.nearest_timezone) == time.beginning_of_hour %>">
    <td><%= time.beginning_of_hour.to_s(:local) %></td>
    <td>
      <% @trip.activities.each do |activity| %>
        <% if (activity.time..activity.end_time).cover? time %>
          <a href="<%= activity.url %>" target="_blank"><%= activity.title %></a> 
          <%= link_to '<i class="icon-remove-sign"></i>'.html_safe, [@trip, activity], method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>

<%= render :partial => "trips/trip_footer" %>
