<p id="notice"><%= notice %></p>

<% @trip.next_24_hours.each do |time| %>
  <%= time.beginning_of_hour.to_s(:local) %><br>
<% end %>

<p>
  <b>Latitude:</b>
  <%= @trip.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @trip.longitude %>
</p>

<p>
  <b>Destination:</b>
  <%= @trip.destination %>
</p>

<p>
  <b>User:</b>
  <%= @trip.user_id %>
</p>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
