<p id="notice"><%= notice %></p>

<style type="text/css">
th {
  height: 150px;
  background-image: url(<%= @trip.city_image %>);
}
</style>

<table class="hours table table-hover table-striped">
  <tr>
    <th colspan="2">
      <h1>24 hours in <%= @trip.city %></h1>
    </th>
  </tr>
  <% @trip.next_24_hours.each do |time| %>
    <tr class="<%= "warning" if Time.now.beginning_of_hour.in_time_zone(@trip.nearest_timezone) == time.beginning_of_hour %>">
      <td><%= time.beginning_of_hour.to_s(:local) %></td>
      <td><button class="btn btn-large btn-primary btn-block add-activity"><i class="icon-plus-sign"></i> Add</button></td>
    </tr>
  <% end %>
</table>
