<div id="notice" class="alert hide"><%= notice %></div>

<style type="text/css">
th {
  height: 150px;
  background-image: url(<%= @trip.city_image %>);
}
</style>

<table class="hours table table-hover table-striped">
  <tr>
    <th colspan="2">
      <a href="#share-modal" class="show-share-modal" data-toggle="modal"><i class="icon-share-sign"></i></a>
      <h1>24 hours in<br><%= @trip.city %></h1>
      <span class="actions">
        <button class="btn btn-warning find-activity"><i class="icon-search"></i> Find Activities</button>
        <button class="btn btn-warning find-event"><i class="icon-search"></i> Find Events</button>
      </span>
    </th>
  </tr>
  <% @trip.next_24_hours.each do |time| %>
    <tr class="<%= "warning" if Time.now.beginning_of_hour.in_time_zone(@trip.nearest_timezone) == time.beginning_of_hour %>">
      <td><%= time.beginning_of_hour.to_s(:local) %></td>
      <td></td>
    </tr>
  <% end %>
</table>

<%= render :partial => "trips/share-modal" %>
