<% @activities.each do |activity| %>
  <tr class="activity activity_result" data-activity-json="<%= activity.to_json %>">
    <td>
      <div class="activity_image" 
        style="background-image: url('<%= activity.thumbnail_hi_res_url %>');">
        <%= link_to "Book " + activity.price_formatted, 
          activity.web_url, 
          :target => "_blank", 
          :class => "book_activity activity_price btn btn-success btn-large" %>
        <h4 class="activity_title">
          <%= activity.title %>
        </h4>
      </div>
      <p class="activity_description">
        <%=raw activity.short_description %>
        &mdash; 
        <%= link_to "Book now " + activity.price_formatted,
          activity.web_url,
          :target => "_blank",
          :class => "book_activity" %>
      </p>
    </td>
  </tr>
<% end %>
