<%= render :partial => "trips/trip_header" %>

<% @activities.each do |activity| %>
  <%= form_for([@trip, Activity.new], :remote => true) do |f| %>
  <tr class="activity activity_result">
    <td>
      <div class="activity_image" 
        style="background-image: url('<%= activity.thumbnail_hi_res_url %>');">
        <h4 class="activity_title">
          <a href="<%= activity.web_url %>" target="_blank"><%= activity.title %> - <%= activity.duration %></a>
        </h4>
        <div>
          <%= f.select(:time, options_for_select(@trip.next_24_hours.map{ |s| [ s.beginning_of_hour.to_s(:local), s.beginning_of_hour ] }), { :class => 'time-select' } ) %>
        </div>

        <%= f.hidden_field :url, :value => activity.web_url %>
        <%= f.hidden_field :title, :value => activity.title %>
        <%= f.hidden_field :duration, :value => activity.duration %>
        <%= f.submit "Book #{activity.price_formatted}", :id => "send", :class => 'book_activity activity_price btn btn-success' %>
      </div>
      <p class="activity_description">
        <%=raw activity.short_description %>
      </p>
    </td>
  </tr>
  <% end %>
<% end %>

<%= render :partial => "trips/trip_footer" %>