<!DOCTYPE html>
<html>
<head>
  <title>24</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/c50a926e-7c75-4136-9a49-524607c23a8b.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" href="/icon.png"/>  
  <link rel="apple-touch-icon" sizes="72x72" href="/icon-72.png"/>  
  <link rel="apple-touch-icon" sizes="114x114" href="/icon@2x.png"/> 
</head>
<body>
  <div class="page-container">
    <div id="notice" class="alert hide"><%= notice %></div>
      <%= yield %>
  </div>
</body>
</html>
